{% extends "blog/base.html" %}
{% block title %}
Homepage
{% endblock %}

{% block messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="container" style="margin-top: 10px; border-radius: 5px; border: 1px solid grey; padding: 10px;">
            <div class="row justify-content-between" style="border-bottom: 1px solid grey; padding: 1px; margin-left: 1px; margin-right: 1px">
                <div class="col-md-auto">
                    <img class="rounded-circle" src="{{ post.author.profile.image.url }}" style="height: 50px;width: 50px;margin-right: 16px;">
                    <i>Author:</i>
                    <a>{{ post.author }}</a>
                </div>
                <div class="col-md-auto">
                    <small class="text-muted">{{ post.post_date|date:"F d, Y" }}</small>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-auto">
                    <h2><a href="{% url 'post-detail' post.id %}" style="color: #444444">{{ post.title }}</a></h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p style="word-break: break-word">{{ post.content }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}