{% extends 'blog/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
Password reset
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 10px; border-radius: 5px; border: 1px solid grey; padding: 10px;">
        <div class="row-fluid">
            <div class="alert alert-success" role="alert">
                Your new password has been set.
            </div>
        </div>
        <div class="row-fluid">
            <a type="button" class="btn btn-outline-info" href="{% url 'log-in' %}"
               style="min-width: max-content;">Go to login page</a>
        </div>
    </div>
{% endblock %}