{% extends 'blog/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
Password reset
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 10px; border-radius: 5px; border: 1px solid grey; padding: 10px;">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
    <a>Have not account yet?</a>
    <a href="{% url 'register' %}">Register</a>
    </div>
{% endblock %}