{% extends 'blog/base.html' %}

{% block title %}
Profile
{% endblock %}

{% block messages %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="container-fluid" style="margin-top: 10px; border-radius: 5px; border: 1px solid grey; padding: 10px;">
        <div class="row">
            <div class="col-md-auto">
                <div class="row-fluid">
                    <img class="img-fluid img-thumbnail" src="{{ user.profile.image.url }}" alt="Profile_image" height="300" width="300">
                </div>
            </div>
            <div class="col-md-auto">
                <div class="row-fluid">
                    <div class="h4"><strong><em>Profile</em></strong>: {{ user.username }}</div>
                </div>
                <div class="row-fluid">
                    <div class="h5" style="word-break: break-word"><strong><em>Email</em></strong>: {{ user.email }}</div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}