{% extends 'blog/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
Profile
{% endblock %}

{% block messages %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="container-fluid" style="margin-top: 10px; border-radius: 5px; border: 1px solid grey; padding: 10px;">
        <div class="row justify-content-start">
            <div class="col-md-auto">
                <div class="row-fluid">
                    <img class="img-fluid img-thumbnail" src="{{ user.profile.image.url }}" alt="Profile_image" height="250" width="250">
                </div>
            </div>
            <div class="col-md-auto">
                <div class="row-fluid">
                    <div class="h4"><strong><em>Name</em></strong>: {{ user.profile.profile_name }}</div>
                </div>
                <div class="row-fluid">
                    <div class="h5"><strong><em>Username</em></strong>: {{ username }}</div>
                </div>
                <div class="row-fluid">
                    <div class="h5" style="word-break: break-word"><strong><em>Email</em></strong>: {{ user.email }}</div>
                </div>
                {% if user.profile.about %}
                    <div class="row-fluid">
                        <div class="h5" style="word-break: break-word"><strong><em>About</em></strong>:<br> {{ user.profile.about }}</div>
                    </div>
                {% endif %}
                <div class="row-fluid" style="margin-bottom: 8px">
                     <a class="btn btn-outline-primary" href="{% url 'user-posts' user.username %}">
                        Posts
                     </a>
                </div>
                <div class="row-fluid">
                     <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#update_profile"
                             aria-expanded="false" aria-controls="update_profile">
                        Update profile
                     </button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 1%">
                {% if profile_update_form.errors or user_update_form.errors %}
                    <div class="collapse show" id="update_profile" style="width: 95%;">
                    {% else %}
                    <div class="collapse" id="update_profile" style="width: 95%;">
                {% endif %}
                        <div class="card card-body">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Updating the profile</h5>
                                    </div>
                                    <div class="modal-body">
                                        {{ user_update_form|crispy }}
                                        {{ profile_update_form|crispy }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
    </div>
{% endblock %}